[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
imgkit = "*"
django = "*"
psycopg2-binary = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
