/* restaurant name and other dishes are hidden on smaller plates */
/* Hello from the CSS! This is remarkably repetitive. Given more instruction, I would love to learn how to programmatically generate placement for these items, rather than having each one hard-coded in place like I do now. */
.grid-container{
    display: grid;
    grid-template-areas: 
    'fishimg fishimg fishimg fishimg fishimg fishimg fishimg fishimg fishdesc fishdesc fishdesc fishdesc'
    'fishimg fishimg fishimg fishimg fishimg fishimg fishimg fishimg fishrest fishrest fishrest fishrest'
    'fishimg fishimg fishimg fishimg fishimg fishimg fishimg fishimg fishtext fishtext fishtext fishtext'
    'fishimg fishimg fishimg fishimg fishimg fishimg fishimg fishimg fishprice fishprice fishprice fishprice'
    'saladimg saladimg saladimg saladimg saladimg saladimg saladimg saladimg saladdesc saladdesc saladdesc saladdesc'
    'saladimg saladimg saladimg saladimg saladimg saladimg saladimg saladimg saladrest saladrest saladrest saladrest'
    'saladimg saladimg saladimg saladimg saladimg saladimg saladimg saladimg saladtext saladtext saladtext saladtext'
    'saladimg saladimg saladimg saladimg saladimg saladimg saladimg saladimg saladprice saladprice saladprice saladprice'
    'tacoimg tacoimg tacoimg tacodesc tacodesc tacodesc bowlimg bowlimg bowlimg bowldesc bowldesc bowldesc'
    'tacoimg tacoimg tacoimg tacoprice tacoprice tacoprice bowlimg bowlimg bowlimg bowlprice bowlprice bowlprice'
    'flatbreadimg flatbreadimg flatbreadimg flatbreaddesc flatbreaddesc flatbreaddesc chickenimg chickenimg chickenimg  chickendesc chickendesc chickendesc'
    'flatbreadimg flatbreadimg flatbreadimg flatbreadprice flatbreadprice flatbreadprice chickenimg chickenimg chickenimg chickenprice chickenprice chickenprice'
    'friesimg friesimg friesimg friesdesc friesdesc friesdesc donutimg donutimg donutimg donutdesc donutdesc donutdesc'
    'friesimg friesimg friesimg friesprice friesprice friesprice donutimg donutimg donutimg donutprice donutprice donutprice'
    ;
}

/* placement for first dish */
img:nth-of-type(1){
    grid-area: fishimg;
}
h2:nth-of-type(1){
    grid-area: fishdesc;
}
h3:nth-of-type(1){
    grid-area: fishrest;
}
h4:nth-of-type(1){
    grid-area: fishprice;
}
p:nth-of-type(1){
    grid-area: fishtext;
}

/* placement for second dish */
img:nth-of-type(2){
    grid-area: saladimg;
}
h2:nth-of-type(2){
    grid-area: saladdesc;
}
h3:nth-of-type(2){
    grid-area: saladrest;
}
h4:nth-of-type(2){
    grid-area: saladprice;
}
p:nth-of-type(2){
    grid-area: saladtext;
}

/* placement for dishes 3 through 8 */
img:nth-of-type(3){
    grid-area: tacoimg;
}
h2:nth-of-type(3){
    grid-area: tacodesc;
}
h4:nth-of-type(3){
    grid-area: tacoprice;
}

img:nth-of-type(4){
    grid-area: bowlimg;
}
h2:nth-of-type(4){
    grid-area: bowldesc;
}
h4:nth-of-type(4){
    grid-area: bowlprice;
}

img:nth-of-type(5){
    grid-area: flatbreadimg;
}
h2:nth-of-type(5){
    grid-area: flatbreaddesc;
}
h4:nth-of-type(5){
    grid-area: flatbreadprice;
}

img:nth-of-type(6){
    grid-area: chickenimg;
}
h2:nth-of-type(6){
    grid-area: chickendesc;
}
h4:nth-of-type(6){
    grid-area: chickenprice;
}

img:nth-of-type(7){
    grid-area: friesimg;
}
h2:nth-of-type(7){
    grid-area: friesdesc;
}
h4:nth-of-type(7){
    grid-area: friesprice;
}

img:nth-of-type(8){
    grid-area: donutimg;
}
h2:nth-of-type(8){
    grid-area: donutdesc;
}
h4:nth-of-type(8){
    grid-area: donutprice;
}

/* END GRID SECTION */

img:nth-of-type(2), h4:nth-of-type(2){
    margin-bottom: 20px;
}

/* sets element sizes */

/* takes care of the two big images */
img:nth-of-type(-n+2){
    height: 150px;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

/* takes care of the four smaller images */
img:nth-of-type(n+3){
    height: 75px;
    width: 100px;
    padding-top: 2px;
    padding-right: 10px;
}

h2:nth-of-type(n+3), h4:nth-of-type(n+3){
    margin-right: 15px;
}