/* restaurant names are bold */
/* the descriptions for the smaller dishes are bold */

h3:nth-of-type(-n+2), h2:nth-of-type(n+3){
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2:nth-of-type(-n+2){
    font-size: 1.2em;
}

s{
    color: red;
}